/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* Header Styles */
  #sobre h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Image Styles */

  
  /* Content Styles */
  #sobre {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  #sobre ul {
    padding-left: 20px;
    margin-bottom: 15px;
  }
  
  #horario {
    margin-bottom: 10px;
  }
  
  /* Menu Styles */

  .informacoes-menu {
    background-color: white;
 }
  
  /* Responsive Styles 
  @media screen and (max-width: 600px) {
    #sobre {
      padding: 20px;
    }
    
    img {
      width: 100%;
    }
    
    ul {
      padding-left: 15px;
    }
    
    h2 {
      font-size: 24px;
    }
  }
  */
  