/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }

.imagem-lanche01 {
    width: 100%;
    height: 320px;
    background-image: url(../images/xBaconBatataCoca.png);
    background-size: cover;
    background-position: center;
}

/* Section Styles */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #666;
  }
  
  h3 {
    font-size: 25px;
    font-weight: bold;
    color: #d4af37;
    margin-bottom: 0;
  }
  

/*-------Elemento Adicionar remover produto------------*/

element {
    padding: 5%;
    width: 100%;
    height: auto;
    display: flex;

}

.remover-lanche {
    font-size: 40px;
    height: 50px;
    background-color: brown;
    flex: 2.5;
    border: solid 2px;
    box-shadow: 1px 1px 1px .5px rgb(221, 221, 221);
    border-radius: 5px;
}

.quantidade-lanche {
    font-size: 40px;
    flex: 2;
    height: 50px;
    background-color: whitesmoke;
}

.adicionar-lanche {
    font-size: 40px;
    flex: 2.5;
    height: 50px;
    background-color: green;
    border: solid 2px;
    box-shadow: 1px 1px 1px .5px rgb(221, 221, 221);
    border-radius: 5px;
}

.adicionar-carrinho {
    font-size: 20px;
    flex: 6;
    height: 50px;
    background-color: goldenrod;
    border: solid 2px;
    box-shadow: 1px 1px 1px .5px rgb(221, 221, 221);
    border-radius: 5px;
}

