/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  /* Login Container Styles */
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  /* Logo Container Styles */
  .logo-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-container img {
    max-width: 200px;
  }
  
  /* Form Styles */
  form {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b68e09;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #a17708;
  }

  .login-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-container p a {
    color: #a17708;
    text-decoration: none;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  
  /*  Menu Style */

 ul .cadastro-menu {
    background-color: #5e4b00;
    color: white;
 }


  /* Responsive Styles */
  @media screen and (max-width: 600px) {
    .login-container {
      padding: 15px;
    }
  
    .logo-container img {
      max-width: 150px;
    }
  }
  